body{
    margin: 0;
}

.count-container{
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 300px;
    /* width: 300px; */
}